Repository kses1010/irasshaimase, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, configuration, documentation, dependencies

feat(fe): eslint install airbnb
  irasshaimase-frontend/package.json
  irasshaimase-frontend/yarn.lock
Labels: frontend, dependencies

feat(fe): prettier install airbnb
  irasshaimase-frontend/package.json
  irasshaimase-frontend/yarn.lock
Labels: frontend, dependencies

feat(fe): config eslint airbnb
  irasshaimase-frontend/.eslintignore
  irasshaimase-frontend/.eslintrc.js
  irasshaimase-frontend/.eslintrc.json
  irasshaimase-frontend/package.json
  irasshaimase-frontend/yarn.lock
Labels: frontend, configuration, dependencies

feat(fe): eslint 세팅을 했습니다 (#2)
  irasshaimase-frontend/.eslintignore
  irasshaimase-frontend/.eslintrc.js
  irasshaimase-frontend/.eslintrc.json
  irasshaimase-frontend/package.json
  irasshaimase-frontend/yarn.lock
Labels: frontend, configuration, dependencies

feat(fe): edit tsconfig
  irasshaimase-frontend/tsconfig.json
Labels: frontend, configuration

feat(fe): edit tsconfig (#3)
  irasshaimase-frontend/tsconfig.json
Labels: frontend, configuration

feat(fe): tsconfig paths 설정
  irasshaimase-frontend/tsconfig.json
Labels: frontend, configuration

feat(fe): 스토리북 설치 및 세팅 (테스트용 스토리북 파일 생성)
  irasshaimase-frontend/.eslintrc.js
  irasshaimase-frontend/.storybook/main.js
  irasshaimase-frontend/.storybook/preview.js
  irasshaimase-frontend/apps/@shared/components/Header.stories.tsx
  irasshaimase-frontend/apps/@shared/components/Header.tsx
  irasshaimase-frontend/apps/@shared/components/header.css
  irasshaimase-frontend/package.json
  irasshaimase-frontend/yarn.lock
Labels: frontend, configuration, dependencies

feat(fe): 스토리북 세팅을 하였습니다 (#4)
  irasshaimase-frontend/.eslintrc.js
  irasshaimase-frontend/.storybook/main.js
  irasshaimase-frontend/.storybook/preview.js
  irasshaimase-frontend/apps/@shared/components/Header.stories.tsx
  irasshaimase-frontend/apps/@shared/components/Header.tsx
  irasshaimase-frontend/apps/@shared/components/header.css
  irasshaimase-frontend/package.json
  irasshaimase-frontend/tsconfig.json
  irasshaimase-frontend/yarn.lock
Labels: frontend, configuration, dependencies

feat(fe): paths 경로 수정
  irasshaimase-frontend/tsconfig.json
Labels: frontend, configuration

feat(fe): emotion setting
  irasshaimase-frontend/apps/@shared/layouts/CommonLayout.tsx
  irasshaimase-frontend/apps/@shared/layouts/index.ts
  irasshaimase-frontend/pages/index.tsx
  irasshaimase-frontend/styles/antdStyle.ts
  irasshaimase-frontend/styles/globalStyle.ts
  irasshaimase-frontend/styles/theme.ts
  irasshaimase-frontend/types/emotion.d.ts
Labels: none

feat(fe): emotion 세팅을 하였습니다 (#5)
  irasshaimase-frontend/apps/@shared/layouts/CommonLayout.tsx
  irasshaimase-frontend/apps/@shared/layouts/index.ts
  irasshaimase-frontend/pages/index.tsx
  irasshaimase-frontend/styles/antdStyle.ts
  irasshaimase-frontend/styles/globalStyle.ts
  irasshaimase-frontend/styles/theme.ts
  irasshaimase-frontend/tsconfig.json
  irasshaimase-frontend/types/emotion.d.ts
Labels: frontend, configuration

chore(fe): github workflow - label
  .github/workflows/labeler-workflow.yml
Labels: configuration

doc(fe): test commit
  irasshaimase-frontend/README.md
Labels: frontend, documentation

doc(fe): github workflow Test PR
  irasshaimase-frontend/README.md
Labels: frontend, documentation

refactor(be) : 패키지 이름 변경
  irasshaimase-backend/.gitignore
  irasshaimase-backend/build.gradle.kts
  irasshaimase-backend/gradle/wrapper/gradle-wrapper.jar
  irasshaimase-backend/gradle/wrapper/gradle-wrapper.properties
  irasshaimase-backend/gradlew
  irasshaimase-backend/gradlew.bat
  irasshaimase-backend/settings.gradle.kts
  irasshaimase-backend/src/main/kotlin/com/sunnyson/rasshaimasebackend/RasshaimaseBackendApplication.kt
  irasshaimase-backend/src/main/resources/application.properties
  irasshaimase-backend/src/test/kotlin/com/sunnyson/rasshaimasebackend/RasshaimaseBackendApplicationTests.kt
Labels: backend, configuration

.github/labeler.yml:

frontend:
  - irasshaimase-frontend/*
backend:
  - irasshaimase-backend/*
configuration:
  - next.config.js
  - package*.json
  - '**/.*'
  - '**/jest*.ts'
  - '**/jest*.js'
  - '**/tsconfig*.json'
  - .*/**
documentation:
  - '**/*.md'
dependencies:
  - '**/yarn.lock'
